:root{
  font-family: "Open Sans", sans-serif;
}

*{
  margin: 0px;
}

body{
  background-color: #F5F4F0;
}

#page{
  padding: 88px 80px;
  box-sizing: border-box;
}

.titulo-destaque{
  color: #E1624F;
  font-size: 16px;
}

img{
  width: 100%;
  border-radius: 28px;
}

header h4{
  padding-bottom: 8px;
}

header h1{
  padding-bottom: 40px;
  font-size: 32px;
}

header p{
  color: #333333;
  text-align: center;
}


header img{
  padding-bottom: 24px;
}

header p{
  padding-bottom: 40px;
  font-size: 16px;
  font-style: italic;
}

#destinos h4{
  padding-top: 64px;
  padding-bottom: 2px;
}

#destinos h2{
  padding-bottom: 8px;
}

#destinos p{
  padding-bottom: 64px;
  color: #333333;
}

hr{
  border: 1px solid #D9D9D9;
}

#templo-haedong h2{
  padding-top: 20px;
  padding-bottom: 4px;
}

#templo-haedong p{
  padding-bottom: 32px;
  color: #333333;
}

#templo-haedong ul{
  padding: 0px 28px 48px;
  font-weight: bold;
}

#templo-haedong li p{
  color: #0C51A7;
  padding: 0px;
}


